.buyModal {
  &_button_close {
    position: absolute;
    z-index: 1000;
    right: 10px;
    top: 10px;
    padding: 10px 15px;
    border: 1px solid black;
    background: #cdc8bc;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
    width: 100px;
    height: 50px;

    &:hover {
      transition: all 0.3s ease-in-out;
      background: #ccb06c;
      // width: 102px;
      // height: 52px;
    }
  }

  .from {
    button {
      padding: 10px 15px;
      border: 1px solid #c2811d;
      border-radius: 30px;
      text-decoration: none;
      color: #c2811d;
      font-weight: normal;
      transition: all 0.3s ease-in-out;
    }

    button:hover {
      background: #c2811d;
      color: #fff;
    }
  }
}
