.catalog {
  &-hidden {
    &-dimensions {
      &-title {
        font-size: 12px;
        line-height: 14px;
        font-family: "Lato";
        margin-bottom: 5px;
        color: rgba(48, 48, 48, 0.4);
      }
      &-text {
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        color: #303030;
      }
    }

    &-block {
      opacity: 0;
      position: absolute;
      width: 100%;
      left: 0;
      padding: 10px 40px;
      background: #ffffff;
      box-shadow: 0px 50px 50px rgba(48, 48, 48, 0.1);
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      transition: all 0.5s ease-in-out;
      z-index: -1;
      @media (max-width: 567px) {
        display: none;
      }

      .orange-text {
        font-size: 16px;
        line-height: 19px;

        color: #c2811d;
      }
      &-btn {
        a {
          display: block;
          padding: 10px;
          background: #0f7c7c;
          border-radius: 50px;
          font-size: 18px;
          line-height: 22px;
          /* identical to box height */

          text-align: center;

          /* White */

          color: #ffffff;
          &:hover {
            transition: all 0.3s ease-in-out;
            background: darken(#0f7c7c, 10%);
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
      &-title {
        font-size: 16px;
        line-height: 19px;
        font-family: "Lato";
        color: #303030;
        margin-bottom: 10px;
      }
    }
  }

  &-item {
    position: relative;
    height: 100%;
    padding: 20px 20px;
    transition: all 0.3s ease-in-out;

    @media (max-width: 567px) {
      margin: 20px;
      background: #ffffff;
      box-shadow: 0px 0px 50px rgba(48, 48, 48, 0.1);
      border-radius: 20px;
    }
    &:hover {
      transition: all 0.3s ease-in-out;
      background: #ffffff;
      box-shadow: 0px 0px 50px rgba(48, 48, 48, 0.1);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      //transform: scale(1.1);
      .js-hover-slider {
        opacity: 1;
        z-index: 99999;
      }
      .catalog-hidden-block {
        opacity: 1;
        z-index: 9999;
        transition: all 0.3s ease-in-out;
      }
    }

    &-mobile-btn {
      display: none;
      @media (max-width: 567px) {
        display: block;
        a {
          padding: 12px;
          font-size: 14px;
        }
      }
    }
    &-img {
      cursor: pointer;
      max-height: 145px;
      position: relative;
      padding-bottom: 145px;
      max-width: 306px;
      height: 100%;
      width: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 0.3s ease-in-out;
    }
    &-name {
      max-width: 180px;
      font-size: 28px;
      line-height: 36px;
      color: #023838;
      @media (max-width: 567px) {
        padding: 12px 25px 12px 25px;
        font-size: 25px;
      }
    }
  }
  &-list {
    background: #f8f8f8;
    &-tabs {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
      cursor: pointer;

      &-item {
        min-width: 200px;
        a {
          font-size: 18px;
          line-height: 41px;
          width: 100%;
          height: 100%;
          display: block;
          text-align: center;
          padding: 10px 20px 10px 20px;
          transition: all 0.3s ease-in-out;
          color: #023838;
          font-family: "Lato";
          @media (max-width: 1330px) {
            padding: 12px 25px 12px 25px;
            font-size: 16px;
          }
          &:hover {
            color: #c2811d !important;
            transform: scale(1.1);
          }

          &.active {
            color: #fff !important;
            background: #0f7c7c;
            &:hover {
              color: white !important;
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
.catalog-item-js {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.js-hover-slider {
  position: absolute;

  width: 100%;
  opacity: 0;
  display: flex;
  height: 100%;
  top: 10px;
  left: 0;
  &-item {
    width: 20%;
    margin: 0 5px;
    border-bottom: 2px solid gray;
    &:hover {
      border-bottom: 2px solid black;
    }
  }
  @media (max-width: 567px) {
    display: none;
  }
}
.price-catalog {
  font-size: 22px;
  line-height: 32px;
  color: #303030;
  .prefix {
    font-size: 20px;
  }
}
.favorite-link {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
.PartnersMain_bg {
  position: relative;
  height: 50vh;
  &-content {
    position: relative;
    z-index: 999999;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    background-color: black;
    opacity: 0.3;
    height: 100%;
  }
}
