.contacts {
  &-btn {
    a {
      font-family: "Lato";
      display: block;
      max-width: 245px;
      text-align: center;
      background: #0f7c7c;
      border-radius: 50px;
      padding: 22px 0;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */

      text-align: center;

      /* White */

      color: #ffffff;
      @media (max-width: 567px) {
        font-size: 14px;
      }
    }
  }
  &-title {
    font-family: "Lato";
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    /* Green primary */

    color: #023838;
    margin-bottom: 15px;
    @media (max-width: 567px) {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }
  &-text {
    font-family: "Lato";
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */

    color: #303030;
    @media (max-width: 567px) {
      font-size: 14px;
    }
  }
}
#map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
