.detail {
  &-main-description {
    &-title {
      font-family: "Lato";
      font-weight: bold;
      font-size: 24px;
      line-height: 22px;
      color: #0f7c7c;
      margin-bottom: 15px;
    }
    &-text {
      text-align: justify;
      font-family: "Lato";
      font-weight: bold;
      text-indent: 20px;
      font-size: 17px;
      line-height: 21px;
      color: #303030;
    }
  }
  &-color {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 0 5px;
  }
  &-main {
    &-img {
      padding-bottom: 60%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &-small {
    &-img {
      background-color: #f8f8f8;
      padding: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-middle {
    &-img {
      background-color: #f8f8f8;
      padding-bottom: 60%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-title {
    text-align: center;
    font-family: "Lato";
    font-size: 42px;
    line-height: 44px;
    color: #0f7c7c;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  &-price {
    font-family: "Lato";
    font-size: 36px;
    line-height: 43px;
    color: #083434;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
  }
  &-description {
    &-title {
      text-align: center;
      font-family: "Lato";
      font-weight: bold;
      font-size: 23px;
      line-height: 22px;
      color: #0f7879;
      margin-bottom: 25px;
      padding: 0 30px !important;
    }
    &-text {
      text-align: end;
      font-family: "Lato";
      font-size: 16px;
      line-height: 21px;
      /* or 150% */

      color: #303030;
      &-bold {
        text-align: left;
        // text-align: left;
        font-family: "Lato";
        font-size: 15px;
        font-weight: bold;
        line-height: 21px;
        /* or 150% */

        color: #303030;
      }
    }
    // .aa {
    //   position: relative;
    // }
    // .aa:not(:first-child) {
    //   .detail-description-title {
    //     padding-top: 20px;
    //     &::before {
    //       position: absolute;
    //       top: 0px;
    //       left: 30px;
    //       content: "";
    //       width: 100%;
    //       box-sizing: border-box;
    //       height: 1px;
    //       background: #000;
    //       border-radius: 10px;
    //     }
    //   }
    // }
    .detail-description-item:not(:first-child) {
      .aa {
        width: 100%;
        height: 1px;
        margin: 20px 0;
        background-color: black;
      }
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    a {
      width: 336px;
      max-width: 336px;
      display: flex;
      align-items: center;
      padding: 20px 0;
      text-align: center;
      justify-content: center;
      border: 3px solid rgb(15, 124, 124);
      font-weight: bold;
      box-sizing: border-box;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &.active {
        background-color: #0f7c7c;
        transition: all 0.3s ease-in-out;
        path {
          fill: white;
        }
        span {
          color: white;
        }
      }
      span {
        font-family: "Lato";
        font-size: 16px;
        line-height: 19px;
        color: #0f7c7c;
        margin-left: 15px;
      }
      &:hover {
        background-color: #0f7c7c;
        transition: all 0.3s ease-in-out;
        path {
          fill: white;
        }
        span {
          color: white;
        }
      }
    }
    button {
      max-width: 336px;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 20px 0;
      text-align: center;
      justify-content: center;
      border: 1px solid #0f7c7c;
      box-sizing: border-box;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &.active {
        background-color: #0f7c7c;
        transition: all 0.3s ease-in-out;
        path {
          fill: white;
        }
        span {
          color: white;
        }
      }
      span {
        font-family: "Lato";
        font-size: 16px;
        line-height: 19px;
        color: #0f7c7c;
        margin-left: 15px;
      }
      &:hover {
        background-color: #0f7c7c;
        transition: all 0.3s ease-in-out;
        path {
          fill: white;
        }
        span {
          color: white;
        }
      }
    }
  }
}
.modal-detail-form {
  &-bg {
    padding: 20px;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      background-color: #2e2e2e;
      opacity: 0.8;
    }
  }
}
.text-md {
  font-size: 18px;
}
.bg-none {
  background-color: transparent;
}

@media (max-width: 500px) {
  .detail-description {
    div {
      font-size: 12px;
    }
  }
}
.detail-carousel-item {
  cursor: pointer;
  border-radius: 20px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
  margin: 5px auto 5px auto !important;
  width: 90% !important;
  span {
    font-size: 22px;
    margin-bottom: 10px;
  }
  button {
    opacity: 0;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #c2811d;
    background-color: white;
    color: #c2811d;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: #c2811d;
      color: #fff;
    }
  }
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    & button {
      opacity: 1;
    }
  }
  @media (max-width: 500px) {
    span {
      font-size: 16px;
    }
    button {
      font-size: 11px;
      padding: 2px 10px;
    }
  }
}
.button_buy {
  button {
    border: 1px solid #e3b52e;
    background-color: #e3b52e;
    span {
      color: white;
      margin-left: 0px;
    }
    &:hover {
      background: #fff;
      span {
        color: #e3b52e;
      }
    }
  }
}
.gif img {
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@media (max-width: 992px) {
  .detail-main-description-title {
    text-align: center;
  }
}
