@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora/Lora-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
};
@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora/Lora-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: 600;
};

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
};

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: 600;
};
