.footer {
  &-copy {
    p {
      font-size: 14px;
    }
  }
  &-loc {
    p {
      font-weight: normal;
    }
    &:hover {
      p {
        color: darken(#023838, 50%);
      }
    }
  }
  .footer-contacts {
    margin: 9% 0 0 0;
  }
  &-logo {
    width: 386px;
    height: 131px;
  }
  @media (max-width: 351px) {
    .footer-logo {
      width: 308px;
      height: 105px;
    }
    .footer_menu {
      a {
        font-size: 13px;
      }
    }
    .footer-contacts {
      margin: 0px;
    }
  }
}
