html,
body {
    margin: 0;
    padding: 0;
    font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
        "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
//@font-face {
//    font-family: "Lora";
//    src: url("../../public/fonts/Lora/Lora-Regular.ttf") format("truetype");
//    font-style: normal;
//    font-weight: 400;
//};
//@font-face {
//    font-family: "Lora";
//    src: url("../../public/fonts/Lora/Lora-Bold.ttf") format("truetype");
//    font-style: bold;
//    font-weight: 600;
//};

