.banner {
  background: linear-gradient(118.38deg, #023838 0%, #0f7c7c 100%);
  position: relative;
  overflow: hidden;
  margin-bottom: 90px;

  @media (max-width: 1335px) {
    margin-bottom: 60px;
  }
  @media (max-width: 567px) {
    margin-bottom: 30px;
  }
  // &:before {
  //   border: 2px solid #ffffff;
  //   width: 1014px;
  //   height: 1014px;
  //   position: absolute;
  //   opacity: 0.4;
  //   content: "";
  //   border-radius: 100%;
  //   right: -407px;
  //   top: 85px;
  // }
  &-title {
    max-width: 636px;
    font-size: 72px;
    line-height: 92px;
    margin-bottom: 5px;
    color: #ffffff;
    @media (max-width: 1335px) {
      font-size: 40px;
      line-height: 42px;
    }
    @media (max-width: 567px) {
      font-size: 30px;
      line-height: 32px;
    }
    &-block {
      padding: 55px 0;
    }
  }
  &-description {
    font-family: "Lato";
    font-size: 24px;
    line-height: 41px;
    color: #f8f8f8;
    @media (max-width: 1335px) {
      font-size: 20px;
      line-height: 24px;
    }
    @media (max-width: 567px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.banner_main_page {
  .banner {
    background: white;
  }
}
.header__favorite {
  &:hover {
    .favorite-hover-block {
      opacity: 1;
      z-index: 999;
      display: block;
    }
  }
}
.favorite {
  &-clear {
    width: 100%;
    border: 1px solid #023838;
    border-radius: 30px;
    padding: 11px 0;
    text-align: center;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    color: #023838;
    font-family: "Lato";
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #023838;
      color: white;
    }
  }
  &-block {
    &-item {
      margin-bottom: 40px;
      border-bottom: 1px solid rgba(48, 48, 48, 0.4);
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        .favorite-block-img {
          transform: scale(1.1);
        }
      }
    }
    &-img {
      height: 150px;
      transition: all 0.3s ease-in-out;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: 15px;
    }
    &-name {
      font-family: "Lora";
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 15px;

      color: #023838;
    }
    &-price {
      margin-bottom: 15px;
      font-family: "Lora";
      font-size: 24px;
      line-height: 29px;
      /* identical to box height */

      /* Green secondary */

      color: #0f7c7c;
    }
  }
  &-hover-block {
    padding: 50px 15px 30px 15px;
    display: none;
    z-index: -1;
    max-height: 550px;
    overflow: auto;
    left: -38%;
    top: 100%;
    background: white;
    width: 280px;
    position: absolute;
    opacity: 0;
    .close {
      position: absolute;
      right: 0;
      top: -20px;
    }
  }
}
.dropdown-menu {
  left: -50% !important;
  top: 30px !important;
  border: none !important;
  a {
    font-family: "Lato";
    font-size: 16px;
    color: #023838;
    line-height: 19px;
    text-align: center;
  }
}
.header-time-work {
  width: 100%;
  text-align: center;
  span {
    font-size: 12px;
  }
}
#scroller {
  position: fixed;
  /** позиция кнопки scroll to top **/
  bottom: 30px;
  /** картинка кнопки наверх**/
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1000;
  right: 20px;
  padding: 10px;
  background-color: #157777;
  border-radius: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  img {
    width: 25px;
    height: 25px;
  }
}
/** скрываем кнопку в начале **/
.dropDownMap {
  border: 1px solid;
  top: 55px;
  border-radius: 10px;
  z-index: 10000000;
  background: white;
  padding: 10px;
  position: absolute;
  &-btn {
    font-size: 14px;
    color: black;
    &:hover {
      color: #023838;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
.header-fix {
  position: fixed;
  top: 0;
  z-index: 9999999;
  background: white;
  //overflow: hidden;
}
.header-shadow {
  box-shadow: 0px 27px 21px rgb(48 48 48 / 13%);
}
