body {
  font-family: "Lora", Arial;
  font-size: 16px;
  @media (max-width: 1400px) {
    font-size: 14px;
  }
}

.mobile-menu {
  span {
    height: 4px;
    width: 24px;
    background: #023838;
    border-radius: 10px;
    display: block;
    &:nth-child(2n) {
      margin: 3px 0;
    }
  }
}

a {
  color: white;
  &:hover {
    text-decoration: none;
  }
}
.breadCrumbs-custom {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 90px;
  @media (max-width: 1335px) {
    margin-bottom: 60px;
  }
  @media (max-width: 567px) {
    margin-bottom: 30px;
  }
  &-item {
    margin-right: 5px;
    a {
      font-family: "Lato", Arial;
      font-size: 18px;
      line-height: 27px;
      color: #999999;
      @media (max-width: 1335px) {
        font-size: 16px;
      }
      @media (max-width: 567px) {
        font-size: 14px;
      }
      &:hover {
        color: #c2811d;
      }
    }

    &:after {
      content: "/";
      color: #303030;
    }

    &.active {
      a {
        color: #303030;
        &:hover {
          color: #c2811d;
        }
      }
      &:after {
        content: "";
      }
    }
  }
}
.mobile-menu {
  &-close {
    width: 25px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  ul {
    margin-top: 30px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 30px;

    li {
      margin-bottom: 30px;
      &.active {
        a {
          color: #c2811d;
        }
      }
      a {
        font-size: 18px;
        color: #023838;
      }
    }
  }
}
.burger {
  transition: all 0.5s ease-in-out;
  transform: translateX(100vw);
  height: 100vh;
  position: fixed;
  z-index: 999999;
  top: 70px;
  right: 0;
  width: 500px;
  background: #fff;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  &-img {
    width: 400px;
    height: auto;
  }
  &.active {
    transform: translateX(0);
  }
  &-item {
    cursor: pointer;
    color: #023838;
    font-size: 40px;
    text-align: left;

    &.active {
      color: red;
    }
  }
  &-btn {
    height: 50px;
    width: 50px;
    display: none;
    @media (max-width: 1250px) {
      display: flex;
    }
  }
}

@media (max-width: 750px) {
  .burger {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .burger {
    &-img {
      width: 100%;
      height: auto;
    }
    &-item {
      font-size: 33px;
    }
  }
}

@media (max-width: 400px) {
  .burger {
    &-item {
      font-size: 24px;
    }
  }
}
.overflow-auto {
  overflow: auto;
}
.dropdown {
  &:hover {
    & .dropdown-menu {
      display: block;
    }
  }
}

//preloader samvel
//#preloader {
//  width: 100vw;
//  position: fixed;
//  top: 0;
//  background: #000000;
//  height: 100vh;
//  overflow: hidden;
//  z-index: 10000000000000;
//}
//
//.custom-animation {
//  animation: hidePreloader  1s normal forwards linear;
//}
//.custom-animation-fade-in {
//  animation: showTestPreloader 1s normal forwards linear;
//}
//
//@keyframes hidePreloader {
//  0% {
//    transform: translateX(40px);
//    opacity: 1;
//  }
//  50% {
//    transform: translateX(80px);
//    opacity: 0.5;
//  }
//  100% {
//    transform: translateX(120px);
//    opacity: 0;
//  }
//
//}
//
//@keyframes showTestPreloader {
//  0% {
//    transform: translateX(-100%);
//  }
//  50% {
//    transform: translateX(-50%);
//  }
//  100% {
//    transform: translateX(0%);
//  }
//
//}
//#word {
//  transform: translateX(-100%);
//}
//.preloader-content {
//  overflow: hidden;
//
//}
//#wordZ{
//  position: absolute;
//}
//
//@keyframes hidePreloader {
//  0% {
//    transform: translateX(40px);
//    opacity: 1;
//  }
//  50% {
//    transform: translateX(80px);
//    opacity: 0.5;
//  }
//  100% {
//    transform: translateX(120px);
//    opacity: 0;
//  }
//
//}

.cooperation {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  padding: 50px 0;
  cursor: pointer;
  .PartnersMain_bg {
    // transform: rotate(180deg);
    position: absolute;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  .sklad-link {
    transition: all 0.3s ease-in-out;
    position: relative;
    &:before {
      transition: all 0.3s ease-in-out;
      content: "";
      width: 0;
      height: 2px;
      background-color: #c2811d;
      position: absolute;
      bottom: -4px;
    }
  }
  &:hover {
    & .PartnersMain_bg {
      transform: scale(1.1);
    }
    & .sklad-link {
      &:before {
        width: 100%;
      }
    }
  }
}
.ReactModal__Body--open {
  overflow: hidden;
}
.ReactModal__Overlay--after-open {
  z-index: 99999999;
}
.dropdown {
  height: 70px;
  display: flex;
  align-items: center;
  &::before {
    .dropdown-block {
      opacity: 1;
      color: red;
    }
  }

  &-custom {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: #023838;
  }
  &-block {
    margin-top: -255px;
    z-index: -5;
    transition: all 0.55s ease-in-out;
    position: absolute;
    min-width: 176px;
    left: -15%;
    border-radius: 10px;
    background: white;
    top: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px 10px 10px 10px;
    width: 100%;
    &::before {
      opacity: 1;
    }
    a {
      font-size: 14px;
      font-weight: 400;
      color: #023838;
    }
  }
}
.transition {
  transition: all 0.3s ease-in-out;
}
.rot-180 {
  transform: rotate(180deg);
}

.button_container {
  bottom: 50px;
  left: 50%;
  right: 50%;

  .banner_catalog {
    display: block;
    padding: 10px;
    background: #0f7c7c;
    border-radius: 50px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    border: none;
    width: 205px;
    height: 42px;
    cursor: pointer;
    &:hover {
      transition: all 0.3s ease-in-out;
      background: #094f4f;
      color: #ffffff;
    }
  }
}
.info_block {
  display: flex;
  flex-direction: row;
  height: 300px;

  &_left {
    width: 50%;
  }

  &_right {
    width: 50%;
  }
}
.outgoing_block {
  overflow: hidden;
  position: relative;

  &:hover {
    .outgoing_block_img {
      margin-left: 0px;
      transition-duration: 0.5s;
    }

    .outgoing_block_pattern {
      left: -450px;
      transition-duration: 0.5s;
    }

    a::before {
      width: 100%;
    }
  }

  &_img {
    width: 100%;
    margin-left: 33%;
    transition-duration: 0.5s;
  }

  &_pattern {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    transition-duration: 0.5s;
  }

  &_info {
    position: absolute;
    color: white;
    padding: 30px;
    z-index: 999;

    h3 {
      font-family: "Lora", sans-serif;
      font-weight: lighter;
      font-size: 48px;
    }

    &_text {
      margin-top: 30px;

      a {
        position: relative;
      }
    }

    a::before {
      transition: all 0.3s ease-in-out;
      content: "";
      width: 0;
      height: 2px;
      background-color: #c2811d;
      position: absolute;
      bottom: -4px;
    }
  }
}
@media (max-width: 400px) {
  .outgoing_block_info {
    h3 {
      font-size: 28px !important;
    }
    .outgoing_block_info_text {
      margin-top: 10px;

      a {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 500px) {
  .outgoing_block_info {
    h3 {
      font-size: 32px !important;
    }
  }
}

@media (max-width: 768px) {
  .outgoing_block_info {
    padding: 20px;
  }
  .outgoing_block_info_text {
    margin-top: 20px;
  }
  .outgoing_block_info {
    h3 {
      font-size: 40px;
    }
  }
}

@media (max-width: 1000px) {
  .info_block {
    flex-direction: column;
    height: 100%;

    &_left {
      width: 100%;
    }
    &_right {
      margin-top: 50px;
      width: 100%;
    }
  }
  .banner_arrow {
    display: none;
  }
}

@media (max-width: 900px) {
  .button_container {
    bottom: 20px;
    left: 50%;
    right: 50%;

    .banner_catalog {
      width: 150px;
      height: 42px;
    }
  }
}

@media (max-width: 600px) {
  .button_container {
    bottom: 10px;

    .banner_catalog {
      width: 100px;
      font-size: 14px;
      height: 35px;
      padding: 7px;
    }
  }
}

@media (max-width: 500px) {
  .button_container {
    // bottom: 10px;

    .banner_catalog {
      width: 100px;
      font-size: 14px;
      height: 30px;
      padding: 4px;
    }
  }
}

@media (max-width: 350px) {
  .button_container {
    // bottom: 10px;

    .banner_catalog {
      width: 70px;
      font-size: 9px;
      height: 20px;
      padding: 0px;
    }
  }
}

.banner_container {
  position: relative;

  .banner_discription {
    z-index: 20;
    bottom: 0;
    position: absolute;
    left: 5%;

    .discription {
      font-size: 24px;
      color: white !important;
      // -webkit-text-stroke: 0.3px #000000;
      button {
        font-size: 14px;
      }
    }
  }
  .banner_sale {
    position: absolute;
    z-index: 10;
    top: 40px;
    right: 0px;
    img {
      transform: rotate(23deg);
      width: 250px;
    }
  }
}
// @media (max-width: 980px) {
//   .title_banner {
//     font-size: 54px !important;
//   }
// }

// @media (max-width: 948px) {
//   .second_block {
//     width: 100%;
//   }
//   .title_banner {
//     font-size: 40px !important;
//   }
// }
// @media (max-width: 761px) {
//   .banner_container .banner_sale img {
//     width: 200px;
//   }
// }
// @media (max-width: 600px) {
//   .banner_container {
//     .banner_sale img {
//       width: 200px;
//     }
//     .banner_discription {
//       margin: -120px 0 0 0;
//       .discription {
//         font-size: 18px;
//       }
//     }
//   }

//   .flex-container button {
//     width: 100px;
//     font-size: 14px;
//     height: 35px;
//   }
//   .flex-container h3 {
//     font-size: 18px !important;
//   }
//   .banner_main_page .banner {
//     height: 450px;
//   }
// }
// @media (max-width: 500px) {
//   .banner_main_page .banner {
//     height: 400px;
//     .banner_discription .discription {
//       font-size: 14px !important;
//     }
//   }
//   .banner_container {
//     .banner_sale img {
//       width: 150px;
//     }
//   }
// }

// @media (max-width: 450px) {
//   .banner_main_page .banner {
//     height: 350px;
//   }
//   .banner_container .banner_discription {
//     margin: -100px 0 0 0;
//     button {
//       font-size: 12px !important;
//     }
//   }
// }

// @media (max-width: 400px) {
//   .banner_container .banner_sale img {
//     width: 100px;
//   }
//   .banner_main_page .banner {
//     height: 320px;
//   }
//   .flex-container button {
//     width: 80px;
//     font-size: 12px;
//     height: 30px;
//   }
//   .banner_discription .discription {
//     font-size: 12px !important;
//   }
// }

// @media (max-width: 350px) {
//   .banner_main_page .banner {
//     height: 280px;
//   }
//   .slider_section p {
//     // font-size: 12px !important;
//     padding: 0 !important;
//     margin: 0;
//   }
// }
