.order {
  &-title{
    font-size: 48px;
    line-height: 61px;
    color: #023838;
  }
  &-img{
    height: 100%;
    background-color: #BDBDBD;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
  }
  &-text {
    font-size: 18px;
    line-height: 27px;
    color: #303030;
    margin-bottom: 60px;
  }
  &-btn {
    padding: 22px 29px;
    background: #0F7C7C;
    border-radius: 50px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    color: white;
    display: block;
    max-width: 245px;
    &:hover {
      transition: all 0.3s ease-in-out;
      background: darken(#0F7C7C, 10%);
      color: white;
      text-decoration: none;

    }
  }
}
