body .tablet-top {
  display: none !important;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background: #f8f8f8;
}

button {
  outline: none !important;
}
button:hover {
  cursor: pointer;
}
a {
  text-decoration: none !important;
}

.soc {
  margin-top: 10px;
}

.tab-location img {
  margin-right: 10px;
}

.tab-location {
  font-size: 14px;
  color: #023838;
}
.follow_us img:hover {
  height: 45px;
  width: auto;
  margin: 0px 6px 0 5px !important;
}

.follow_us img {
}

.footer_icons {
  cursor: pointer;
  height: 48px;
  width: 48px;
  border-radius: 36px;
  color: #000;
  background-color: #fff;
  margin-left: 20px;
}

.footer_icons:hover svg path {
  transition: all 0.3s ease-in-out 0s;
  fill: #a41d21;
}

.tab-phone {
  font-weight: bold;
  color: #023838;
  font-size: 16px;
  display: flex;
  align-items: center;
  font-family: "Roboto", arial, sans-serif;
}

.tab-phone img {
  width: 18px;
}

.left a:hover {
  color: #c2811d;
}
.mobile_call {
  display: none;
}

.mobile_btn {
  display: none;
  position: relative;
  width: 30px;
  height: 4px;
  background: #023838;
  border-radius: 10px;
}

.mobile_btn:before {
  top: -10px;
  position: absolute;
  content: "";
  width: 30px;
  height: 4px;
  background: #023838;
  border-radius: 10px;
}

.mobile_btn:after {
  bottom: -10px;
  position: absolute;
  content: "";
  width: 30px;
  height: 4px;
  background: #023838;
  border-radius: 10px;
}

.header_wrapper {
  width: 100%;
  height: 90px;
  background: #fff;
  position: sticky;
  background: white;
  z-index: 9999;
  top: 0;
}

.shadow-header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header-block {
  /*height: 90px;*/
}

.header {
  width: 100%;
  height: 100%;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 70px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.header__logo img {
  transition: all 0.3s ease-in-out;
}

.header__logo:hover img {
  transform: scale(1.1);
}

.header__location:hover span {
  color: #c2811d;
  transform: scale(1.1);
  cursor: pointer;
}
.header__location {
  transition: all 0.3s ease-in-out;
}
.header__location img,
.header__favorite img,
.header__phone img {
  margin-right: 10px;
}

.header__favorite {
  padding: 0 25px;
}

.header__location span {
  color: #023838;
}

.header__favorite span {
  color: #c2811d;
  cursor: pointer;
}
.header__favorite span:hover {
  color: #7e5312;
  cursor: pointer;
}

.header__nav {
  display: flex;
  align-items: center;
}
.header__nav li {
  position: relative;
  list-style-type: none;
  margin-right: 45px;
}

.header__nav li:last-child {
  margin-right: 0;
}

.header__nav li .nav-bar-link:before {
  position: absolute;
  bottom: -9px;
  content: "";
  width: 0;
  height: 3px;
  background: #c2811d;
  border-radius: 10px;
}
.header__nav li.active > a {
  color: #c2811d;
}
.header__nav li.active:before {
  width: 100%;
}

.header__nav li .nav-bar-link:hover:before {
  width: 100%;
  transition: all 0.3s ease;
}

.header__nav li > a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #023838;
}

.header__logo img {
  max-width: 100%;
}

.header__nav li > a:hover {
  color: #c2811d;
}

.header__call {
  padding: 10px 15px;
  border: 1px solid #c2811d;
  border-radius: 30px;
  text-decoration: none;
  color: #c2811d;
  font-weight: normal;
  transition: all 0.3s ease-in-out;
}

.header__call:hover {
  background: #c2811d;
  color: #fff;
}

.slider_section {
  position: relative;
  width: 100%;
  /* height: calc(100vh - 85px); */
  /* background: linear-gradient(118.38deg, #023838 0%, #0f7c7c 100%); */
}

.slider_section:before {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  content: "";
  /*background: url("../img/bg-spreads/circles.svg") center no-repeat;*/
}

.first_block {
  position: relative;
  z-index: 1;
}

.flex-container {
  font-family: "Lora", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: calc(100vh - 85px);
}

.flex-container h3 {
  font-size: 55px;
  color: #fff;
}

.flex-container p {
  color: #fff;
  font-size: 21px;
  padding: 15px 0;
}

.flex-container button {
  width: 170px;
  height: 45px;
  background: #fff;
  color: #023838;
  border: none;
  border-radius: 100px;
  margin-top: 15px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.flex-container button:hover {
  background: #c2811d;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.slick-slider {
  /* width: 570px; */
  outline: none !important;
}

.flex-container img {
  position: relative;
  z-index: 1;
  height: calc(100vh - 85px);
}

/* .slick-slide {
  outline: none;
}
*/
.slick-slide img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
.section_title_green,
.section_title_light {
  font-family: "Lora", sans-serif;
  width: 100%;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 90px;
}

.section_title_green h3 {
  font-size: 48px;
  color: #0f7c7c;
}

.section_title_light h3 {
  font-size: 48px;
  color: #fff;
}

.catalog_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 20px;
}

.catalog_section:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: contain;
  /*background: url("../img/bg-spreads/circles.svg") no-repeat bottom;*/
}

.custom-row {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: space-between;
}

.block p {
  text-align: center;
  margin: 30px 0;
  font-size: 24px;
  color: #023838;
}

.custom-row:last-child {
  margin: 50px 0;
}

.block {
  max-width: 275px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto;
}

.more_btn {
  opacity: 0;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}

.block img {
  max-width: 100%;
  height: auto;
  width: auto;
  max-height: 180px;
}

.block:hover {
  background: white;
  box-shadow: 0px 0px 33px rgba(48, 48, 48, 0.4);
}

.block:hover .more_btn {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  visibility: visible;
}

.block button {
  width: 200px;
  height: 40px;
  border-radius: 100px;
  text-align: center;
  background: white;
  outline: none;
  border: 1px solid #c2811d;
}

.block button:hover {
  background: #c2811d;
  color: white;
}

.news {
  width: 100%;
  height: 100%;
  background: #023838;
  margin-bottom: 60px;
}

.news_block img {
  width: 100%;
}

.news_block {
  width: 100%;
  position: relative;
}

.news_block_mini {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.news_block_mini:hover img {
  transform: scale(1.1);
}
/*.news_block_right:hover img {*/
/*  transform: scale(1.1);*/
/*}*/

.news_block_mini img {
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news_block_mini:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
.news_block_mini:hover:before {
  opacity: 0.2;
}

.news_block:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
  z-index: 999;
}

.data {
  position: absolute;
  color: #fff;
  bottom: 30px;
  left: 35px;
  z-index: 999;
}
.data a {
  color: white;
}

.data a:hover {
  color: rgba(254, 185, 112, 1);
}

.data h3 {
  font-size: 22px;
  font-weight: bold;
}

.data,
.data_mini p {
  font-size: 14px;
}

.data_mini {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 15px;
  padding-right: 35px;
  z-index: 999;
}

.data_mini h3 {
  font-size: 13px;
  font-weight: bold;
}

.news_block_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.news_block_right {
  cursor: pointer;
  width: 100%;
  margin-bottom: 23px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
  max-height: 200px;
  min-width: 250px;
}
@media (max-width: 567px) {
  .news-block-info {
    --columnsCount: 1;
  }
  .news_block_right {
    margin-bottom: 0;
  }
}
.news-block-info {
  display: grid !important;
  --columnsCount: 4;
  grid-template-columns: repeat(var(--columnsCount), minmax(0, 1fr));
  grid-template-rows: auto;
  grid-gap: 0px;
}

.news_custom_block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #2d787e;
  height: 160px;
}

.news_custom_block:not(:last-child)::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 80%;
  background-color: white;
  right: 0px;
}

.news_custom_block a {
  text-align: center;
  color: white;
  font-size: 28px;
}

.news_custom_block a:hover {
  color: white;
}
.news_custom_block:hover {
  background-color: #25898b;
}

@media (max-width: 1000px) {
  .news-block-info {
    --columnsCount: 2;
    grid-gap: 5px;
  }
  .news_block_right {
    margin: 0px;
  }
  .ship {
    margin-top: 120px;
  }
  .news_custom_block::before {
    display: none;
  }
}

@media (max-width: 567px) {
  .news-block-info {
    --columnsCount: 1;
  }
}

.news_block_right:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.6;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
.news_block_right:hover:before {
  opacity: 0.4;
}
.news_block_right:hover img {
  transform: scale(1.05);
}

.completed_project {
  padding: 120px 0;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.swiper-slide {
  width: 338px;
  height: 473px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.swiper-slide:hover img {
  transform: scale(1.1);
}

.swiper-slide:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #023838 0%, rgba(2, 56, 56, 0) 100%);
  border-radius: 10px;
  z-index: 11111;
  transform: rotate(-180deg);
}

.completed_left {
  padding-left: 100px;
  font-family: "Lora", sans-serif;
}

.completed_left h3 {
  color: #023838;
  font-size: 36px;
  padding-right: 15px;
}

.completed_left p {
  padding: 0 40px 0 40px;
  text-align: justify;
  margin-top: 15px;
  font-family: "Lato", sans-serif;
}

.completed_left a {
  width: 245px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #c2811d;
  border-radius: 50px;
  color: #c2811d;
  outline: none;
  margin-top: 25px;
  transition: all 0.3s ease-in-out;
}

.completed_left a:hover {
  color: white;
  background: #c2811d;
}
@media (max-width: 1000px) {
  .scroll-block {
    padding: 0px;
    text-align: center;
  }
  .scroll-block div {
    display: flex;
    justify-content: center;
  }
  .scroll-block p {
    padding: 0;
  }
  .scroll-block h3 {
    padding: 0;
  }
}

.ship_block {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  background: #023838;
  padding: 30px;
  border-radius: 10px;
}

.left {
  margin: 0 100px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (max-width: 833px) {
  .left {
    margin: 0;
  }
}

.left h3 {
  font-family: "Lora", sans-serif;
  font-weight: normal;
  font-size: 48px;
  color: #fff;
}

.left button {
  width: 245px;
  height: 66px;
  background: #ffffff;
  border-radius: 50px;
  outline: none;
  border: none;
}

.magnet {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 500px;
  /*background: url("img/magnet.png") no-repeat center;*/
  background-size: cover;
}

/* .magnet:before {
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  opacity: 0.8;
} */

.content {
  position: relative;
  z-index: 100;
  text-align: center;
  color: #fff;
}

.content h3 {
  font-family: sans-serif;
  font-size: 48px;
  font-weight: normal;
}

.content p {
  color: #e5e5e5;
  font-size: 23px;
  font-weight: normal;
  padding-bottom: 20px;
  font-family: sans-serif;
}

.content input {
  width: 250px;
  height: 45px;
  background: none;
  border: 2px solid #e5e5e5;
  border-radius: 100px;
  outline: none;
  padding: 15px;
  color: #fff !important;
}
.content input:not(:first-child) {
  margin-top: 15px;
}
.content input:nth-last-child(-n + 2) {
  margin-bottom: 15px;
}
.content input::-webkit-input-placeholder {
  color: white;
  opacity: 0.7;
  font-family: sans-serif;
}
/* .content button {
  width: 210px;
  height: 45px;
  margin-right: 30px;
  background: #feb970;
  border-radius: 100px;
  outline: none;
  color: #023838;
  border: none;
  transition: all 0.3s ease-in-out 0s;
}
.content button:hover {
  border: 1px solid black;
  font-size: 17px;
  transition: all 0.3s ease-in-out 0s;
} */

.content button {
  width: 250px;
  height: 45px;
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  background-color: #27b0af;
  font-family: sans-serif;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.content button:hover:hover {
  background-color: rgb(45, 120, 126);
  color: #fff;
}

.form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sklad_block {
  height: 100%;
  margin: 0 auto;
  background: no-repeat center;
  border-radius: 10px;
  background-size: cover;
  padding: 30px;
}

.sklad_left {
  color: #fff;
  padding: 30px;
}

.sklad_left h3 {
  font-family: "Lora", sans-serif;
  font-weight: lighter;
  font-size: 48px;
}

.sklad_left button {
  width: 245px;
  height: 66px;
  background: #ffffff;
  border-radius: 50px;
  outline: none;
  border: none;
}

.footer_menu {
  margin: 25px 0 0 0 !important;
  grid-template-columns: repeat(var(--columnsCount), minmax(0, 1fr));
  --columnsCount: 3;
  display: grid;
  grid-gap: 10 px;
}

.footer_menu li {
  text-align: center;
}

.footer {
  width: 100%;
  height: auto;
  background: #cdc8bc;
  margin-top: 120px;
  padding: 35px;
}

.footer h3 {
  font-family: "Lora", sans-serif;
  font-size: 22px;
  color: #023838;
}

/* .map ymaps {
  width: 100%;
} */

.map {
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer li {
  list-style: none;
  line-height: 40px;
}
.footer li > a:hover {
  color: rgb(194, 129, 29);
}
.footer li > a::before {
  position: absolute;
  bottom: -9px;
  content: "";
  width: 0px;
  height: 3px;
  background: rgb(194, 129, 29);
  border-radius: 10px;
}
.footer li > a:hover::before {
  width: 100%;
  transition: all 0.3s ease 0s;
}

.footer li > a {
  position: relative;
  font-weight: 500;
  text-decoration: none;
  color: #303030;
  font-size: 16px;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}
.news_block_mini_img {
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.news-block-big:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.6;
  z-index: 999;

  transition: all 0.3s ease-in-out;
}

.news-block-big:hover button {
  background: black;
  /* opacity: 0.8; */
  border-radius: 4px;
}

.news-block-big img {
  transition: all 0.3s ease-in-out;
  max-width: 100%;
}
.news-block-big:hover img {
  transform: scale(1.1);
}

.news-block-big:hover:before {
  opacity: 0.2;
}
.news-block-big {
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.news-block-button {
  background: none;
  border: none;
}

.right img {
  width: 100%;
}
.sklad-link {
  color: #ffffff !important;
}
.sklad-link:hover {
  color: rgba(254, 185, 112, 1) !important;
}
.mobile-menu {
  display: none;
}
#nprogress .bar {
  background: #254c27 !important;

  position: fixed;
  z-index: 999999999999 !important;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px;
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 999999999999 !important;
  bottom: 15px !important;
  top: auto !important;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #254c27 !important;
  border-left-color: #254c27 !important;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
.mobile-menu span {
  height: 4px;
  width: 24px;
  background: #023838;
  border-radius: 10px;
  display: block;
}

.mobile-menu span:nth-child(2n) {
  margin: 3px 0;
}

@media (max-width: 1400px) {
  /* .content h3 {
    font-size: 24px;
    line-height: 31px;
  } */
  .header__logo {
    width: 150px;
  }
  .header__nav li > a {
    font-size: 14px;
  }
  .section_title_light h3 {
    font-size: 40px;
  }
  .section_title_green h3 {
    font-size: 40px;
  }
}
.header__phone > .d-flex {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header__phone > .d-flex:hover {
  transform: scale(1.1);
}
@media (max-width: 1200px) {
  .header__logo {
    width: 120px;
  }
  .header__nav li > a {
    font-size: 13px;
  }
  .section_title_light h3 {
    font-size: 37px;
  }
  .section_title_green h3 {
    font-size: 37px;
  }
}
@media (max-width: 1250px) {
  .custom-row {
    grid-template-columns: repeat(2, auto);
  }

  .header_wrapper {
    height: 60px;
    top: 60px;
  }
  body .header__phone {
    display: none !important;
  }
  body .header__location {
    display: none !important;
  }
  body .tablet-top {
    display: flex !important;
    position: sticky;
    top: 0;
    z-index: 9999999999;
  }
  .mobile-menu {
    display: block;
  }
  body .header__nav {
    display: none !important;
  }
}
@media (max-width: 765px) {
  .custom-row {
    justify-content: center;
    grid-template-columns: repeat(1, auto);
  }
  .news-programm {
    justify-content: center;
  }
}

@media (max-width: 567px) {
  .footer {
    margin-top: 30px;
  }
  .news {
    padding-bottom: 10px;
  }
  .magnet {
    height: auto;
  }
  .magnet form input {
    margin-right: 0;
  }
  .magnet form button {
    margin-right: 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    bottom: -50px;
    align-items: center;
    justify-content: center;
    top: auto;
  }
  .swiper-button-prev:after {
    color: #023838;
    font-size: 25px;
  }
  .swiper-button-next:after {
    color: #023838;
    font-size: 25px;
  }
  .completed_project {
    text-align: center;
    padding: 60px 0;
  }
  .news_block_mini_img {
    height: 115px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .completed_left p {
    text-align: center;
    padding-right: 0;
  }
  .news-link {
    padding: 20px;
    font-size: 14px;
    line-height: 17px;
    margin: 10px auto;
    /* identical to box height */

    color: #ffffff;
    max-width: 160px;
    display: block;
    text-align: center;

    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 50px;
  }
  .custom-row .block .more_btn {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    visibility: visible;
  }
  .news_block:before {
    content: none;
  }
  .news_block img {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .news_block {
    background: #f8f8f8;
  }
  .news_block .data {
    padding-right: 0;
    padding: 12px;
    position: relative;

    left: 0;
  }
  .news_block .data a {
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #303030;

    opacity: 0.4;
  }
  .news_block .data h3 {
    font-size: 14px;
    line-height: 18px;

    color: #023838;
  }

  .news_block .data p {
    font-size: 12px;
    line-height: 14px;

    color: #303030;
  }
  .custom-row .block {
    background: white;
    box-shadow: 0px 5px 50px rgba(48, 48, 48, 0.1);
    margin-bottom: 20px;
  }
  .custom-row .block .more_btn {
    background: #0f7c7c;
    color: white;
  }
  .first_block {
    text-align: center;
  }
  .mobile_call {
    display: block;
    margin-left: 80px;
  }
  body .header__favorite {
    display: none !important;
  }
  body .tablet-top {
    display: none !important;
  }
  .header_wrapper {
    height: 60px;
    top: 0;
  }
  .flex-container {
    flex-direction: column;
    justify-content: center;
  }
  .completed_left {
    padding-left: 0;
  }
  .flex-container img {
    height: calc(50vh - 85px);
  }
  .flex-container h3 {
    font-size: 24px;
  }
  .flex-container p {
    font-size: 15px;
  }
  .tab-location {
    font-size: 12px;
    max-width: 150px;
  }
  .tab-location img {
    width: 16px;
  }
  .sklad {
    display: none;
  }
  .ship {
    margin-top: 50px;
  }
  .ship .left {
    margin-right: 0;
  }
  .tab-phone {
    font-size: 12px;
  }

  .second_block {
    width: 100%;
  }
}
/*.nav-item:hover .dropdown-menu{ display: block; }*/
.news_block {
  overflow: hidden;
  z-index: 99;
  border-radius: 20px;
}
.second_block .slick-slide img {
  width: 100%;
  object-fit: cover;
}
.cursor-pointer {
  cursor: pointer;
}
.left a {
  width: 170px;
  height: 45px;
  background: #fff;
  /* color: #023838; */
  color: #c2811d;
  border: 1px solid #c2811d;
  border-radius: 100px;
  margin-top: 15px;
  outline: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left a:hover {
  color: white;
  background: #c2811d !important;
}
.lb-container {
  z-index: 9999999 !important;
}

.object {
  animation: MoveUpDown 2s linear infinite;
  position: absolute;
  bottom: 40px;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
